

.wrapper {
    max-width: 80%;
    margin:auto;
    transition: 300ms;
}

.right-wrapper {
    max-width: 80%;
    margin:auto;
    padding-left: 300px;
    transition: linear;
    transition: 550ms;
}

.rowWrapper {
    display: flex;
}

.grid {
    margin: 20px;
    text-align: center;
}

button {
    margin-right: 3%;
}

